* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 30px;
  font-family: "Open Sans", Arial, sans-serif;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  height: 100vh;
  width: 100vw;
  margin: auto;
}

.paint__topic {
  position: absolute;
  top: 0;
  left: 50%;

  font-size: 1.5em;
  text-transform: capitalize;

  transform: translateX(-50%);
}

.answers__container {
  position: absolute;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
  width: 100%;

  background-color: #000;
  opacity: 0.8;
}

.answers__header {
  margin: 0 auto;

  color: #fff;
}

.answers__box {
  display: flex;
  flex-wrap: wrap;

  height: 70%;
  width: 30%;
}

.answer {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: calc(100% / 21);
  width: 100%;

  color: #fff;

  cursor: pointer;
}

.answer:hover {
  color: #000;
  background-color: #fff;
}

.answer--correct {
  background-color: #00b32d;
}

.answer--correct:hover {
  color: #00b32d;
  background-color: #fff;
}

.canvas__container {
  height: 80%;
  width: 100%;
}

.canvas {
  height: 100%;
  width: 100%;
}

.controls__container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 20%;
  width: 90%;
}

.control {
  flex-basis: 20%;
}

.control__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 100%;
}

.color {
  height: 50px;
  width: 50px;
  border: 2px solid #000;
  border-radius: 50%;

  cursor: pointer;

  transition: all 0.5s;
}

.color:hover {
  transform: scale(1.3);
}

.color--active {
  border: 7.5px solid #00b32d;
}

.control__button {
  padding: 5px;
  border-radius: 5px;
  background-color: #000000;

  font-size: 1rem;
  color: #fff;

  cursor: pointer;

  transition: all 0.5s;
}

.control__button:hover {
  background-color: #fff;
  color: #000000;
}

.control__button--green {
  background-color: #00b32d;
}

.control__button--green:hover {
  background-color: #fff;
  color: #00b32d;
}
